# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Archivos de reporte
reporte/
Reporte/
*.xlsx
*.xls
*.csv

# Archivos del sistema
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo